<!--Author EliasDH Team-->
<body class="shop-success-body">
    <div class="shop-success-background"></div>
    <app-navbar></app-navbar>
    <article class="shop-success-container">
        <section class="shop-success-message">
            <div class="shop-success-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22 11.08v.5a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                </svg>
            </div>
            <h1>{{ 'SHOP.PAYMENT_SUCCESSFUL' | translate }}</h1>
            <p class="shop-success-subtitle">{{ 'SHOP.CONFIRMATION_EMAIL' | translate }}</p>
            <div class="shop-success-details">
                <p class="shop-success-pickup-info">
                    {{ 'SHOP.PICKUP_AVAILABLE' | translate }}
                </p>
                <div class="shop-success-address">
                    <h3>{{ 'INDEX.LOCATION' | translate }}</h3>
                    <p>
                        <a class="shop-success-address-link cursor-pointer" href="https://www.google.com/maps/place/Kapper+Zizis/@51.1574732,4.5160405,664m/data=!3m1!1e3!4m6!3m5!1s0x47c3fbc98241171d:0x963f447ba2993b24!8m2!3d51.1578719!4d4.5153942!16s%2Fg%2F11c0wc2ntk" target="_blank">
                            Provinciesteenweg 557/N10, 2530 Boechout
                        </a>
                    </p>
                </div>
            </div>
            <div class="shop-success-map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.8887!2d4.5153942!3d51.1578719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3fbc98241171d%3A0x963f447ba2993b24!2sKapper%20Zizis!5e0!3m2!1snl!2sbe!4v1700000000000!5m2!1snl!2sbe" class="shop-success-map-iframe" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="shop-success-actions">
                <button (click)="continueShop()" class="shop-success-btn-primary cursor-pointer">
                    {{ 'SHOP.CONTINUE_SHOPPING' | translate }}
                </button>
                <button (click)="goHome()" class="shop-success-btn-secondary cursor-pointer">
                    {{ 'INDEX.VISIT_SHOP' | translate }}
                </button>
            </div>
        </section>
    </article>
    <app-footer></app-footer>
    <app-contextmenu></app-contextmenu>
</body>