<!--Author EliasDH Team-->
<nav class="navbar">
    <section class="navbar-nav">
        <article class="navbar-buttons">
            <a href="https://www.instagram.com/zizishairfashion" target="_blank" class="navbar-btn cursor-pointer" title="Instagram">
                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
            </a>
            <a href="https://www.facebook.com/hairfashion.zizis" target="_blank" class="navbar-btn cursor-pointer" title="Facebook">
                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M18 2h-3a6 6 0 0 0-6 6v3H7v4h2v8h4v-8h3l1-4h-4V8a1 1 0 0 1 1-1h3z"></path>
                </svg>
            </a>
            <a href="https://eliasdh.com/legalguidelines" target="_blank" class="navbar-btn cursor-pointer" [title]="'INDEX.LEGAL_GUIDELINES' | translate">
                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                    <polyline points="14 2 14 8 20 8"></polyline>
                    <line x1="16" y1="13" x2="8" y2="13"></line>
                    <line x1="16" y1="17" x2="8" y2="17"></line>
                </svg>
            </a>
            <a href="https://eliasdh.com/privacypolicy" target="_blank" class="navbar-btn cursor-pointer" [title]="'INDEX.PRIVACY_POLICY' | translate">
                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                </svg>
            </a>
            <a href="/shop" routerLink="/shop" class="navbar-btn cursor-pointer" [title]="'SHOP.PRODUCTS_TITLE' | translate">
                <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
            </a>
            <article class="navbar-dropdown cursor-pointer">
                <a (click)="toggleDropdown()" class="navbar-btn cursor-pointer">
                    <svg viewBox="0 0 16 16" class="cursor-pointer">
                        <path d="M4 0H6V2H10V4H8.86807C8.57073 5.66996 7.78574 7.17117 6.6656 8.35112C7.46567 8.73941 8.35737 8.96842 9.29948 8.99697L10.2735 6H12.7265L15.9765 16H13.8735L13.2235 14H9.77647L9.12647 16H7.0235L8.66176 10.9592C7.32639 10.8285 6.08165 10.3888 4.99999 9.71246C3.69496 10.5284 2.15255 11 0.5 11H0V9H0.5C1.5161 9 2.47775 8.76685 3.33437 8.35112C2.68381 7.66582 2.14629 6.87215 1.75171 6H4.02179C4.30023 6.43491 4.62904 6.83446 4.99999 7.19044C5.88743 6.33881 6.53369 5.23777 6.82607 4H0V2H4V0ZM12.5735 12L11.5 8.69688L10.4265 12H12.5735Z"></path>
                    </svg>
                </a>
                <ul class="navbar-dropdown-menu" *ngIf="dropdownOpen">
                    <li class="cursor-pointer" *ngFor="let lang of settingsConfig.languages" [class.active]="lang.code === currentLanguage" (click)="changeLanguage(lang.code)">
                        {{ lang.name }}
                    </li>
                </ul>
            </article>
        </article>
    </section>
    <section class="navbar-logo">
        <a href="/" class="navbar-logo-link">
            <img src="assets/media/images/logo.png" alt="Zizis Logo" class="navbar-logo-image">
        </a>
    </section>
</nav>