<!--Author EliasDH Team-->
<body class="index-body">
    <header class="index-header">
        <section class="index-header-language">
            <article class="global-dropdown">
                <a (click)="toggleDropdown()">
                    <svg viewBox="0 0 16 16" class="global-dropdown-svg cursor-pointer">
                        <path d="M4 0H6V2H10V4H8.86807C8.57073 5.66996 7.78574 7.17117 6.6656 8.35112C7.46567 8.73941 8.35737 8.96842 9.29948 8.99697L10.2735 6H12.7265L15.9765 16H13.8735L13.2235 14H9.77647L9.12647 16H7.0235L8.66176 10.9592C7.32639 10.8285 6.08165 10.3888 4.99999 9.71246C3.69496 10.5284 2.15255 11 0.5 11H0V9H0.5C1.5161 9 2.47775 8.76685 3.33437 8.35112C2.68381 7.66582 2.14629 6.87215 1.75171 6H4.02179C4.30023 6.43491 4.62904 6.83446 4.99999 7.19044C5.88743 6.33881 6.53369 5.23777 6.82607 4H0V2H4V0ZM12.5735 12L11.5 8.69688L10.4265 12H12.5735Z"></path>
                    </svg>
                </a>
                <ul class="global-dropdown-menu cursor-pointer" *ngIf="dropdownOpen">
                    <li *ngFor="let lang of settingsConfig.languages" [class.active]="lang.code === currentLanguage" (click)="changeLanguage(lang.code)">
                        {{ lang.name }}
                    </li>
                </ul>
            </article>
        </section>
        <section class="index-header-logo">
            <img src="assets/media/images/logo.png" alt="Zizis Logo" class="index-header-logo-image">
        </section>
        <div class="index-header-content">
            <h1>{{ 'INDEX.TITLE' | translate }}</h1>
            <p>{{ 'INDEX.SUBTITLE' | translate }}</p>
            <a href="tel:+32123456789" class="index-header-button cursor-pointer">{{ 'INDEX.CALL_TO_ACTION' | translate }}</a>
        </div>
    </header>
    <main class="index-main">
        <div class="index-main-left">
            <section class="index-main-section1">
                <h2>{{ 'INDEX.CONTACT_TITLE' | translate }}</h2>
                <p>
                    <strong>{{ 'INDEX.LOCATION' | translate }}:</strong> 
                    <a class="cursor-pointer" href="https://www.google.com/maps/place/Kapper+Zizis/@51.1574732,4.5160405,664m/data=!3m1!1e3!4m6!3m5!1s0x47c3fbc98241171d:0x963f447ba2993b24!8m2!3d51.1578719!4d4.5153942!16s%2Fg%2F11c0wc2ntk?authuser=0&entry=ttu&g_ep=EgoyMDI1MDMxOS4yIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D" target="_blank">
                        Provinciesteenweg 557/N10, 2530 Boechout
                    </a>
                </p>
                <p><strong>{{ 'INDEX.PHONE' | translate }}:</strong> <a class="cursor-pointer" href="tel:+32123456789"> +32 477 53 86 92</a></p>
                <p><strong>{{ 'INDEX.EMAIL' | translate }}:</strong> <a class="cursor-pointer" href="mailto:info&#64;zizis.be"> info&#64;zizis.be</a></p>
            </section>
            <section class="index-main-section2">
                <h2>{{ 'INDEX.OPENING_HOURS_TITLE' | translate }}</h2>
                <ul class="index-main-hours-list">
                    <li [class.today]="isToday('Monday')">{{ 'INDEX.OPENING_HOURS.MONDAY' | translate }}</li>
                    <li [class.today]="isToday('Tuesday')">{{ 'INDEX.OPENING_HOURS.TUESDAY' | translate }}</li>
                    <li [class.today]="isToday('Wednesday')">{{ 'INDEX.OPENING_HOURS.WEDNESDAY' | translate }}</li>
                    <li [class.today]="isToday('Thursday')">{{ 'INDEX.OPENING_HOURS.THURSDAY' | translate }}</li>
                    <li [class.today]="isToday('Friday')">{{ 'INDEX.OPENING_HOURS.FRIDAY' | translate }}</li>
                    <li [class.today]="isToday('Saturday')">{{ 'INDEX.OPENING_HOURS.SATURDAY' | translate }}</li>
                    <li [class.today]="isToday('Sunday')">{{ 'INDEX.OPENING_HOURS.SUNDAY' | translate }}</li>
                </ul>
                <p>{{ 'INDEX.OPENING_HOURS_CALL' | translate }}</p>
            </section>
        </div>
        <section class="index-main-section3">
            <h2>{{ 'INDEX.GALLERY_TITLE' | translate }}</h2>
            <div class="index-main-section3-grid">
                <img *ngFor="let photo of galleryPhotos" [src]="photo" alt="Boechout Photo" class="index-main-section3-image">
            </div>
        </section>
    </main>
    <footer class="index-footer">
        <div [innerHTML]="footerContent"></div>
    </footer>
    <app-contextmenu></app-contextmenu>
</body>